@forward "normalize";
@forward "globals";

.grid {
	display: grid;
}

.btn {
	border: none;
	padding: 12px 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	// @each $color, $value in $theme-colors {
	// 	.btn--#{$color} {
	// 		@include button-variant($value);
	// 	}
	// }

	&--primary {
		background-color: #0d6efd;
		color: #fff;
		&:hover {
			background-color: #0c59cc;
		}
	}

	&--secondary {
		background-color: #6c757e;
		color: #fff;
		&:hover {
			background-color: #565b61;
		}
	}

	&--success {
		background-color: #157c4c;
		color: #fff;
		&:hover {
			background-color: #10643d;
		}
	}

	&--danger {
		background-color: #dc3546;
		color: #fff;
		&:hover {
			background-color: #a82633;
		}
	}

	&--warning {
		background-color: #fec107;
		color: #000;
		&:hover {
			background-color: #fdd55e;
		}
	}

	&--info {
		background-color: #0dcaf0;
		color: #000;
		&:hover {
			background-color: #5dddf7;
		}
	}

	&--light {
		background-color: #f8f9fb;
		color: #000;
		&:hover {
			background-color: #cbcdd1;
		}
	}

	&--dark {
		background-color: #212429;
		color: #fff;
		&:hover {
			background-color: #373b42;
		}
	}
}
