@use "./functions" as *;
$colors: (
	primary: (
		#0d6efd,
		#0c59cc,
		#fff,
	),
	secondary: (
		#6c757e,
		#565b61,
		#fff,
	),
	success: (
		#157c4c,
		#10643d,
		#fff,
	),
	danger: (
		#dc3546,
		#a82633,
		#fff,
	),
	warning: (
		#fec107,
		#fdd55e,
		#000,
	),
	info: (
		#0dcaf0,
		#5dddf7,
		#000,
	),
	light: (
		#f8f9fb,
		#cbcdd1,
		#000,
	),
	dark: (
		#212429,
		#373b42,
		#fff,
	),
);
