$primary: #0d6efd;
$primaryHover: #0c59cc;
$primaryFore: #fff;

$secondary: #6c757e;
$secondaryHover: #565b61;
$secondaryFore: #fff;

$success: #157c4c;
$successHover: #10643d;
$successFore: #fff;

$danger: #dc3546;
$dangerHover: #a82633;
$dangerFore: #fff;

$warning: #fec107;
$warningHover: #fdd55e;
$warningFore: #000;

$info: #0dcaf0;
$infoHover: #5dddf7;
$infoFore: #000;

$light: #f8f9fb;
$lightHover: #cbcdd1;
$lightFore: #000;

$dark: #212429;
$darkHover: #373b42;
$darkFore: #fff;
