@use "./functions" as *;

$colors: (
	primary: (
		#0d6efd,
		dark,
	),
	secondary: (
		#6c757e,
		dark,
	),
	success: (
		#157c4c,
		dark,
	),
	danger: (
		#dc3546,
		dark,
	),
	warning: (
		#fec107,
		light,
	),
	info: (
		#0dcaf0,
		light,
	),
	light: (
		#f8f9fb,
		light,
	),
	dark: (
		#212429,
		dark,
	),
);

$breakpoints: (
	xs: getRem(400),
	sm: getRem(576),
	md: getRem(768),
	lg: getRem(1024),
	xl: getRem(1200),
	xxl: getRem(1400),
);
