@use "../utilities" as *;

.btn {
	border: none;
	padding: 12px 16px 13px;
	margin: 4px 0;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	//Ex: btn--primary => &--primary
	@each $name, $color in $colors {
		&--#{$name} {
			$currentColor: nth($color, 1);
			$currentLightness: nth($color, 2);

			background-color: $currentColor;
			color: getForeColor($currentColor, $currentLightness);
			&:hover {
				background-color: getHoverColor($currentColor, $currentLightness);
			}
		}
	}
}
