@use "../utilities/variables" as *;

.btn {
	border: none;
	padding: 12px 16px;
	margin: 4px 0;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	//Ex: btn--primary => &--primary
	@each $name, $colorList in $colors {
		&--#{$name} {
			background-color: nth($colorList, 1);
			&:hover {
				background-color: nth($colorList, 2);
			}
			color: nth($colorList, 3);
		}
	}
}
